/* Style Sheet for the Ionic SproutWave client */

.factor-overview{
}

li.overview{
  display:inline-block;
  /*float:left;*/
  padding:0px;
  margin:0px; 
  height:100px;
  vertical-align:middle;
}
li.factor-name{
	font-size: 14px;	
}
li.canvas{
  text-align: center;
}

.value-and-state{
  text-align: center;
  width:50%;
}

p.factor-value{
  font-size: 48px;
  height: 48px;
  overflow: visible;
  margin: 30px;
}

p.state{
  font-size: 18px;
  margin: -20px;
}

.factor-name{
  text-align: justify;
  font-size: 18px;
  width:25%;
}

.detail-link{
  text-align: right;
  font-size: 18px;
  width:25%;
}

.detail-list{
}

.factor-list{
  height: 100px
}

div.current-state{
  width: 35%;
  font-size: 16px;
  float: left;
  text-align: center;
}

.state-word{
  font-size: 20px;
}

div.override{
  width: 35%;
  font-size: 16px;
  float: left;
  text-align: center;
}

div.override-warning{
  color: #d21400;
  font-size: 16px;
  visibility: hidden;
  text-align: right;
  width: 30%;
  float: right;

}

button.override {
  color:#111111;
  padding:5px;
  background-color:rgba(210,210,210,1);
  border:1px solid #888888;
  border-radius:10px;
 }
 
button.override:active {
  background-color:rgba(11,11,11,1);
  color:#d2d2d2;
 }

.detail-item {
  padding-left: 2px;
}
.scroll-padding{
  padding: 0px;
}

.plot {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
  max-height:200px;
}

.plot.ng-hide {
  max-height:0;
}

.plot.ng-hide-add plot.ng-hide-remove{
  display:block!important;
}

.detail-img {
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: transform;
  display:inline-block!important;
}

.detail-img.ng-hide {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display:inline-block!important;
}

.detail-img.ng-hide-add detail-img.ng-hide-remove{
  display:inline-block!important;
}
